/* details */


.div_d{height: 100dvh;}
/* .div_d1{color: aliceblue;}
.div_d2{
       color: aliceblue;

}
.div_d3{
    color: aliceblue;

} */


.bi-star-fill{color: gold;}

.img_d1{border: solid 2px royalblue;}
.div_d2{position: absolute;
    top: 50%;
    left: 50%;
}