/* details */


.div_d{height: 100dvh;}
/* .div_d1{color: aliceblue;}
.div_d2{
       color: aliceblue;

}
.div_d3{
    color: aliceblue;

} */


.bi-star-fill{color: gold;}

.img_d1{border: solid 2px royalblue;}
.div_d2{position: absolute;
    top: 50%;
    left: 50%;
}


/* cart.html */

.c1{display: flex;
    position: absolute;
    top:50%;
    right: 20%;

}
.c2{display: flex;
    position: absolute;
    top:40%;
    right: 20%;

}

.div_m1{position: absolute;
    justify-content: center;
    top: 10%;
    left: 35%;
}